@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sweetAloha";
  src: local("sweetAloha"),
  url(/src/assets/fonts/SweetAloha.ttf) format("truetype");
}
@font-face {
  font-family: "playfair";
  src: local("playfair"),
  url(/src/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "caviarDreams";
  src: local("caviarDreams"),
  url(/src/assets/fonts/CaviarDreams.ttf) format("truetype");
}
@font-face {
  font-family: "caviarDreamsBold";
  src: local("caviarDreamsBold"),
  url(/src/assets/fonts/CaviarDreams_Bold.ttf) format("truetype");
}


:root, html {
  background-image: url(/src/assets/images/Background.png);
  background-size: cover;
  font-family: 'caviarDreamsBold';
  font-size: 20px;
  color: #3F474F;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@layer components {
  button {
    @apply bg-beige rounded-lg p-2 text-champagne text-xs my-1 disabled:opacity-40 shadow uppercase
  }
  h1 {
    @apply font-serif text-grey text-xl leading-10 uppercase
  }
  router-link {
    @apply mx-auto w-full
  }
}
